body {
  background: url(/images/67.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.formContainer {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 500px;
  padding: 50px;
  margin: auto;
  border: solid 4px #ccc;
  box-shadow: -5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
  font-size: 15px;
}

h3 {

  font-size: 12px;
}
.body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem;
}

.formContainer label {
  font-size: 10px;
}

.formContainer input {
  height: 9px;

}
.date {
  text-align: center;
}

.checkbox {
  display: grid;
  grid-template-columns: 30% 70%;
}

.attend {
  display: grid;
  grid-template-columns: 10% 80%;
}

.formContainer input,
input::-webkit-input-placeholder {
  font-size: 10px;
  line-height: 3;
  color: coral;
}

u {
  text-decoration-color: black;
}

#btn{
  display:block;
  margin: auto;
  text-align: center;
  color: coral;
  /* padding:9px; */
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* label{
  width: 240px;
  display:inline-block;

} */


.partners4 {
  display: grid;
  grid-template-columns: repeat(2,1fr);

  /* gap: 1rem; */
  margin: 1rem;
}

.first label {
  width: 50px;
  display:inline-block;

}
